<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base :: head">
	<title>::: Spring Boot +  Thymeleaf  + Spring security  + Ajax + JQuery :::</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<div  th:replace="fragments/base :: loginHeader"></div>

	<div class="container">

		<div class="starter-template">
			<h1>::: Spring Boot +  Thymeleaf  + Spring security  + Ajax + JQuery :::</h1>
		</div>

	</div>
	
	<nav class="navbar navbar-inverse">
		<div class="container">			
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="getSearchClaim">Search Claim</a></li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>